* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: #626699;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora {
    background-color: #292c53;
    color: #fff;
    height: 70vh;
    width: 20vw;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1.5rem;
    border-radius: 1rem;
    gap: .5rem;
}
.pantalla {
    grid-column: 1 / -1;
    background-color: #111222;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;

}

.funciones {
    background-color: #292c53;
    color: #fff;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    border-radius: .5rem;
}

.funciones:hover {
    background-color: #111222;
    transform: scale(1.05);
}

#cero {
    grid-column: span ;
}
#igual {
    grid-row: span 2;
    background-color: #b34949;
}
#igual:hover {
    background-color: #bd3b3b;
}

@media screen and (max-width: 1200px) {
    .calculadora {
        height: auto;
        width: auto;
    }
    .pantalla {
        width: auto;
    }
}
